import 'package:flutter/material.dart';

class HomeScreen extends StatelessWidget {
  const HomeScreen({super.key});

  @override
  Widget build(BuildContext context) {
    return Scaffold(
      appBar: AppBar(title: const Text('🏠 Sistema {{ diagram.title | title }}')),
      body: ListView(
        padding: const EdgeInsets.all(16.0),
        children: [
          const Text(
            '📋 Tablas del UML',
            style: TextStyle(fontSize: 20, fontWeight: FontWeight.bold),
          ),
          const SizedBox(height: 12),
          {% for c in diagram.classes %}
          ElevatedButton.icon(
            icon: const Icon(Icons.table_chart),
            label: Text('{{ c.name }}'),
            style: ElevatedButton.styleFrom(
              minimumSize: const Size.fromHeight(48),
            ),
            onPressed: () {
              Navigator.pushNamed(context, '/{{ c.name|lower }}List');
            },
          ),
          const SizedBox(height: 8),
          {% endfor %}
        ],
      ),
    );
  }
}
